<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dados dos Alunos</title>
</head>
<body style="background-color: rgb(112,177,176); color: rgb(30, 123, 118);">
    <nav>
        <a href="/"><button style="background-color: rgb(30, 123, 118);">Home</button></a>
        <a href="/cadastrar/alunos/"><button style="background-color: rgb(30, 123, 118);">Cadastrar Alunos</button></a>
        <a href="/lista/alunos/"><button style="background-color: rgb(30, 123, 118);">Lista de Alunos</button></a>
    </nav>
    {% block body %}
    {% endblock body %}
</body>
</html>